@model ExpenseMemberMasterModel
@using System.Data
@using NonFactors.Mvc.Grid
@{
    ViewData["Title"] = "ExpenseBalance";
}

<form asp-action="GetReports" asp-controller="Expense" method="post">


    <div class="row">

        <div class="col-md-3">
        </div>


        <div class="col-md-6">
            <div class="card" style="margin-top: 60px">
                <div class="card-body">
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <center>
                                <h2>
                                    ExpenseBalance
                                </h2>
                            </center>
                        </a>
                    </div>








                    <div class="mb-3" style="margin-top:20px">
                        <label asp-for="Groupname" class="form-label">GroupName</label>
                        @{
                            // Get the groupid data from ViewData and create SelectListItems
                            var groupid = ((IEnumerable<ExpenseGroupModel>)ViewData["groupid"])
                            .Select(m => new SelectListItem
            {
                Value = m.GroupName, // Assuming GroupName is a string
                Text = $"{m.GroupName}"
            });
                        }

                        @Html.DropDownListFor(model => model.Groupname, groupid, "Select Group",
                                 new { @class = "form-control", @required = "required" })

                    </div>



                    <div class="mb-3" style="margin-top:20px">
                        <center>


                            <button type="submit" class="btn btn-primary">Get</button>
                        </center>
                    </div>

</div>
</div>
</div>

        <div class="col-md-3">
        </div>

</div>
</form>

@if (ViewData["balancetable"] != null)
{
    var balanceTable = (DataTable)ViewData["balancetable"];
    <h2>Balance Table</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (DataColumn column in balanceTable.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in balanceTable.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
