@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expense Application</h1>
    <p>Application used to record all Expenses, Budgets and calculate balance based on that</p>
</div>
